<% if user_signed_in? %>
<h1>User Summary</h1>

<table class="shadow table table-bordered" id="listings">
  <thead>
    <tr id="header">
      <th colspan="100%">
        <h1>Favorites</h1>
      </th>
    </tr>
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.restaurant.name %></td>
        <td><%= favorite.restaurant.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="shadow table table-bordered" id="listings">
  <thead>
    <tr id="header">
      <th colspan="100%">
        <h1>Vote History</h1>
      </th>
    </tr>
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Split the Check?</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.votes.each do |vote| %>
      <tr>
        <td><%= vote.restaurant.name %></td>
        <td><%= vote.restaurant.location %></td>
        <td><%= vote.splits_check %></td>
        <td><%= vote.created_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="shadow table table-bordered" id="listings">
  <thead>
    <tr id="header">
      <th colspan="100%">
        <h1>Comment History</h1>
      </th>
    </tr>
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Comment</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.comments.each do |comment| %>
      <tr>
        <td><%= comment.restaurant.name %></td>
        <td><%= comment.restaurant.location %></td>
        <td><%= comment.content %></td>
        <td><%= comment.created_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
