<% if user_signed_in? %>

<div>
<h1>Activity Summary</h1>
<small><strong>For: </strong>
  <%= current_user.email %></small>
</div><br>

<!--- Favorites section --->
<div class="field">
<% if current_user.favorites.count > 0 %>
  <%= render partial: 'summary/favorites' %>
<% else %>
<%= render partial: 'summary/no_history',
  locals: { section: 'Favorites' } %>
<% end %>
</div>

<!--- Vote History section --->
<div class="field">
<% if current_user.votes.count > 0 %>
  <%= render partial: 'summary/vote_history' %>
<% else %>
<%= render partial: 'summary/no_history',
  locals: { section: 'Vote History' } %>
<% end %>
</div>

<!--- Comment History section --->
<div class="field">
<% if current_user.comments.count > 0 %>
  <%= render partial: 'summary/comment_history' %>
<% else %>
<%= render partial: 'summary/no_history',
  locals: { section: 'Comment History' } %>
<% end %>
</div>

<% end %>
