<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.label "Restaurant name (required)",
      class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label "Location in City, ST format (required)",
      class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :will_split,
      class: "form-label" %>
    <%= form.number_field :will_split, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :wont_split,
      class: "form-label" %>
    <%= form.number_field :wont_split, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
