<p id="notice"><%= notice %></p>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid" id="search">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Add Restaurant', new_restaurant_path,
            class:"btn btn-primary", style:"color:white"%>
        </li>
        <li>
          <%= search_form_for @q do |f| %>
            <%= f.search_field :name_or_location_cont, class:"form-control mr-sm-2"%>
            <%= f.submit class:"btn btn-warning my-2 my-sm-0", style:"margin-left: 1em"%>
          <% end %>
        </li>
      </ul>
  </div>
</nav>

<table class="shadow table table-bordered" id="listings">
  <thead>
    <tr id="header">
      <th colspan="100%">
        <h1><%= create_header %></h1>
      </th>
    </tr>
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will split</th>
      <th>Wont split</th>
      <th colspan ="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.will_split %></td>
        <td><%= restaurant.wont_split %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_return_link %>
