<p id="notice"><%= notice %></p>

<div class="card shadow" id="show-restaurant">
  <div class="card-body">
    <h1 class="card-title"><%= @restaurant.name %></h1>
    <h5 class="card-subtitle mb-2 text-muted">  <%= @restaurant.location %></h5>

      <div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th class="h3">Will split rating:
                <%= @restaurant.get_will_split_vote_count %></th>
              <th class="h3">Won't split rating:
                <%= @restaurant.get_wont_split_vote_count %></th>
            </tr>
          </thead>
          <% if user_signed_in? %>
          <tbody>
            <tr>
              <!--- Will Vote section --->
              <td>
                <form action="/votes" method="post">
                  <input type="hidden" name="authenticity_token"
                    value="<%= form_authenticity_token %>">
                  <input type="hidden" name="vote[restaurant_id]"
                    value="<%= @restaurant.id %>">
                  <input type="hidden" name="vote[splits_check]"
                    value="true">
                  <input type="submit" value="VOTE" class="btn btn-success">
                </form>
              </td>

              <!--- Wont Vote section --->
              <td>
                <form action="/votes" method="post">
                  <input type="hidden" name="authenticity_token"
                    value="<%= form_authenticity_token %>">
                  <input type="hidden" name="vote[restaurant_id]"
                    value="<%= @restaurant.id %>">
                  <input type="hidden" name="vote[splits_check]"
                    value="false">
                  <input type="submit" value="VOTE" class="btn btn-danger">
                </form>
              </td>
            </tr>
          </tbody>
        </table>

        <!--- Add comment section --->
        <%= render partial: 'comments/form',
          locals: { restaurant: @restaurant } %>

          <!--- Favorite restaurant section --->
          <% favorite = current_user.favorites.find_by(restaurant: @restaurant) %>
          <% if favorite.nil? %>
            <form id="favorite_button" action="/favorites" method="post">
              <input type="hidden" name="authenticity_token"
                value="<%= form_authenticity_token %>">
              <input type="hidden" name="favorite[restaurant_id]"
                value="<%= @restaurant.id %>">
              <input type="submit" value="Add restaurant to favorites"
                class="btn btn-primary">
            </form>
            <% else %>
            <form id="favorite_button" action="<%= favorite_path(favorite) %>" method="post">
              <input type="hidden" name="authenticity_token"
                value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method"
                value="DELETE">
              <input type="submit" value="Remove restaurant from favorites"
                class="btn btn-primary">
            </form>
          <% end %>
        <% else %>
          </table>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
      <% end %>
      <%= link_to 'Back', restaurants_path %>
  </div>
</div>

<br>

<div class="card" id="show-restaurant">
  <div class="card-body">
  <p>
    <h4 class="card-title">Comments:</h4>
    <hr />
    <%= render @restaurant.comments.order(id: :desc) %>
  </p>
  </div>
</div>
