<!DOCTYPE html>
<html>
  <head>
    <title>Split The Check</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="brand">
      <nav class="navbar">
        <h1><a href="/restaurants">Split the Check 🧾</a></h1>
        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
          <%= link_to 'Register', new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
